/consoleapps/az-workshop-consoleapp/consoleapp-windows/bin/*
/consoleapps/az-workshop-consoleapp/consoleapp-windows/obj/*
/consoleapps/az-workshop-consoleapp/consoleapp-windows/Properties/*
/consoleapps/az-workshop-consoleapp/consoleapp-windows/consoleapp-windows.csproj.user
